<header class="navbar">
  <a routerLink="/home">
  <i class="fa fa-home"></i>
  </a>
  <span class="spacer"></span>
  <a routerLink="/cart-popup">
  <i class="fa fa-shopping-cart"></i>
  </a>
</header>
<div class="container">
  <div class="cards">
    <!-- Display the current popsicle image -->
    <img [src]="currentImage" alt="{{ selectedFlavour }} Popsicle Flavor" style="width: 300px; height: auto;" />

         <div class="sizes">
    <label>Size:</label>
    <select [(ngModel)]="selectedSize">
      <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
    </select>
  </div>
  <div class="quantity">
    <label>Quantity:</label>
    <input type="number" [(ngModel)]="quantity" (ngModelChange)="updateQuantity($event)" min="1" step="1">
  </div>

    <!-- Flavor selection buttons with color -->
    <div class="flavour-section">
  <h3>Select Your Flavor:</h3>
  <div class="flavour-buttons">
    <button
      class="flavour-btn"
      [ngClass]="{selected: selectedFlavour === 'lime'}"
      [style.backgroundColor]="'#3ac6c2'"
      (click)="changeFlavor('lime')"
    >Lime</button>
    <button
      class="flavour-btn"
      [ngClass]="{selected: selectedFlavour === 'lettuce'}"
      [style.backgroundColor]="'#00ff22'"
      (click)="changeFlavor('lettuce')"
    >Lettuce</button>
    <button
      class="flavour-btn"
      [ngClass]="{selected: selectedFlavour === 'cherry'}"
      [style.backgroundColor]="'#D20A2E'"
      (click)="changeFlavor('cherry')"
    >Cherry</button>
  </div>
</div>
<button type="button" (click)="addToCart()" class="add-to-cart">Add to Cart</button>

<app-cart-popup *ngIf="showCartPopup" (close)="closeCartPopup()"></app-cart-popup>


